<%- partial('_partial/homepage-hero')%>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="columns">
                <% site.posts.forEach(function(post){ %>
                <% if (post.type === 'project' && post.isFeatured) { %>
                <div class="column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%- post.image %>" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p>
                                <%- post.content %>
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a class="button is-fullwidth is-info is-outlined" href="<%- post.code %>">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Code</span>
                                </a>
                            </p>
                            <p class="card-footer-item">
                                <a class="button is-fullwidth is-primary is-outlined" href="<%- post.demo %>">
                                    <span class="icon">
                                        <i class="fas fa-beer"></i>
                                    </span>
                                    <span>Demo</span>
                                </a>
                            </p>
                        </footer>
                    </div>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</section>