<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>

<body class="Site">
    <%- partial('_partial/nav') %>
    <main class="Site-content">
        <%- body %>
    </main>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/assets/body-script') %>
</body>

</html>