<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/nav') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/assets/body-script') %>
</body>

</html>